@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .container {
        max-width: 480px
    }
</style>

<div class=" q-mx-md text-bold text-center" style="min-height: 120px">
    RiHub è il primo studio di fisioterapia che ti
    raggiunge direttamente a casa tua. I nostri
    specialisti ti seguiranno online nel percorso di
    recupero, dall’anamnesi alla guarigione. Scarica
    la nostra app e inizia subito la tua terapia
    virtuale personalizzata!
</div>
<div class="row justify-between">
    <button class="app-button-primary q-ma-md">
        Accedi
    </button>
    <button class="app-button-secondary q-ma-md">
        Registrati
    </button>
</div>